body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 89, 255), rgb(0, 235, 252));
}

h1 {
    color: white;
    font-size: 50px;
}

.button1 {
    width: 300px;
    height: 70px;
    background-color: #0075b9;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 7px #999;
}

.button1:hover {
    background-color: #009bf5
}

.button1:active {
  background-color: #000000;
  box-shadow: 0 4px #666;
  transform: translateY(3px);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }